<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>电气1101门户</title>

    <link href="/script/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/script/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <base href="/index.html" />

</head>
<body ng-controller="indexCtrl as ic">
        <ul class="nav nav-pills">
            <li role="presentation" ng-class="{active:mainMenuIndex==0}"><a href="/" ng-click="changeMainMenu(0)">Home</a></li>
            <li role="presentation" ng-class="{active:mainMenuIndex==1}"><a href="/web/test001" ng-click="changeMainMenu(1)">test001</a></li>
            <li role="presentation" ng-class="{active:mainMenuIndex==2}"><a href="#" ng-click="changeMainMenu(2)">Messages</a></li>
        </ul>


        <div ng-view="" ></div>
</body>


<script data-main="/script/app.js" src="/script/lib/requirejs/require.min.js"></script>
</html>