<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <!--[if IE 8]><meta http-equiv="X-UA-Compatible" content="IE=8"><![endif]-->
    <meta name="viewport" content="width=device-width"> 
    <title>大地建筑事务所</title>
    <link rel='icon' href='../images/tit.ico ' type=‘image/x-ico’ />
    <link rel="stylesheet" href="../css/layui/css/layui.css">
    <link rel="stylesheet" href="../css/layui/css/global.css">
    <link rel="stylesheet" href="../css/layui/css/full.css">
    <link rel="stylesheet" href="../css/layui/css/modules/layer/default/layer.css">
    <link rel="stylesheet" href="../css/layui/css/mppublic.css">
    <link rel="stylesheet" href="../css/layui/css/modules/code.css">
    <link rel="stylesheet" href="../css/layui/css/index.css">
    <link rel="stylesheet" href="../css/page.css">
    <!--<link rel="stylesheet" href="../css/loading/style.css">-->
    <script src="../css/layui/layui.js"></script>

    <base href="/indexMge.html" />

</head>
<body ng-controller="indexMgeCtrl as ic">

    <div  class="layui-nav">
        <div class="fl" style="line-height:60px;font-size:16px;"><i class="layui-icon" style="font-size:22px;padding-right:5px;">&#xe60c;</i>大地后台管理系统</div>
        <button class="layui-btn layui-btn-primary layui-btn-mini fr x-pc" style="margin-top:20px;background:transparent;color:#fff;" ng-click="ic.loginOut();">退出</button>
        <ul class="fr" pc>
            <li class="layui-nav-item x-pc"  ng-class="{true:'layui-this'}[stayUrl==1]">
                <a href="/mge/news">新闻管理</a>
            </li>
            <li class="layui-nav-item  x-pc" ng-class="{true:'layui-this'}[stayUrl==2]">
                <a  href="/mge/projectManage">项目管理</a>
            </li>
            <li class="layui-nav-item  x-pc" ng-class="{true:'layui-this'}[stayUrl==3]">
                <a  href="/mge/modifyPwd">修改密码</a>
            </li>
            <li class="layui-nav-item x-mobile" mobile>
                <a href="javascript:;">菜单</a>
                <dl class="layui-nav-child">
                    <dd><a href="/mge/news">新闻管理</a></dd>
                    <dd><a  href="/mge/projectManage">项目管理</a></dd>
                    <dd><a  href="/mge/modifyPwd">修改密码</a></dd>
                    <dd><a ng-click="ic.loginOut();">退出</a></dd>
                </dl>
            </li>
        </ul>
        <div class="fr" style="line-height:60px;font-size:12px;">
            <i class="layui-icon">&#xe612;</i>
            <a style="color: #ffffff;"> <i ng-bind="ic.userInfo.name"></i>
                ,欢迎您！
            </a>
            </a>
        </div>
        <div class="clear"></div>
    </div>

    <div class="main layui-clear">
        <div class="wrap">
            <div ng-view="" ></div>
        </div>

    </div>

    <div class="footer">
        <p>@2016   copyright</p>
    </div>
</body>


    <script data-main="/script/appMge.js" src="/script/lib/requirejs/require.min.js"></script>
</html>