<div ng-controller="classicProjectCtrl as cp">
    <div class="project-title">
        <a ng-repeat="p in projectTypeList" ng-class="{now:checkTypeNow == p.id}" ng-bind="p.typeName" ng-click="pageInfoArticleByType(p.id,0,1)"></a>
        <!--<a>一级标题</a>
        <a class="now">一级标题</a>
        <a>一级标题</a>-->
        <div class="clear"></div>
    </div>
    <ul id="submenus">
        <li ng-repeat="p in twoTypeList">
            <a ng-bind="p.typeName" ng-class="{now:checkTypeNowTwo == p.id}" ng-click="pageInfoArticleByType(0,p.id,0)"></a>
        </li>
        <div class="clear"></div>
    </ul>
    <div id="content" style="min-height: 536px;">
        <div class="listcontent index-block-tjcar" tabindex="5000" style="">
            <!-- <div ng-repeat="pl in cp.projectList" class="pcitem projectitem">
                <a ng-click="jumpDefault(pl.id);">
                    <div class="cP-img">
                        <div style="width:auto;margin:0 auto">
                            <img ng-src="{{pl.defaultPath}}" height="180" class="img">
                         </div>
                    </div>
                    <div class="pcitemcc">
                        <div>
                            <p class="pcitemtitle" ng-bind="pl.title"></p>
                            <p class="pcitemfoot">
                                办公建筑
                                <span class="fr" ng-bind="pl.createDate | date:'yyyy-MM-dd'"></span>
                            </p>
                        </div>
                    </div>
                </a>
            </div> -->



                <span class="clearfix one mmm" ng-repeat="pl in cp.projectList">
                    <div class="img">
                        <img ng-src="{{pl.defaultPath}}" height="180">
                    </div>
                    <span class="css3-box">
                        <div class="layermax"></div>
                    </span>
                    <div class="inner">
                        <h5 ng-bind="pl.title"></h5>
                        <h6>办公建筑</h6>
                    </div>
                </span>


            <div class="listloading" data-maxpage="2" data-url="http://www.biad.com.cn/project.php?rec=1&amp;page=" style="display: none;">
                <span>没有更多内容</span>
            </div>
        </div>
    </div>

        <script>
            $(document).ready(function () {

                $('#listcontent .img').each(function () {
                    AutoResizeImage(this);

                })

            });

            function AutoResizeImage(objImg) {
                var img = new Image(); 
                
                var w = img.width;

            }

        </script>
</div>