<div ng-controller="classicProjectCtrl as cp">
    <div class="project-title">
        <a ng-repeat="p in projectTypeList" ng-class="{now:checkTypeNow == p.id}" ng-bind="p.typeName" ng-click="pageInfoArticleByType(p.id,0,1)"></a>
        <!--<a>一级标题</a>
        <a class="now">一级标题</a>
        <a>一级标题</a>-->
        <div class="clear"></div>
    </div>
    <ul id="submenus" class="autocw">
        <li ng-repeat="p in twoTypeList">
            <a ng-bind="p.typeName" ng-class="{now:checkTypeNowTwo == p.id}" ng-click="pageInfoArticleByType(0,p.id,0)"></a>
        </li>
        <div class="clear"></div>
    </ul>
    <div id="content" class="autocw" style="min-height: 536px;">
        <div id="listcontent" tabindex="5000" style="overflow-y: hidden; outline: none;">
            <div ng-repeat="pl in cp.projectList" class="pcitem projectitem">
                <a ng-click="jumpDefault(pl.id);">
                    <img ng-src="{{pl.defaultPath}}" width="280" height="180">
                    <div class="pcitemcc">
                        <div>
                            <p class="pcitemtitle" ng-bind="pl.title"></p>
                            <p class="pcitemfoot">
                                办公建筑
                                <span class="fr" ng-bind="pl.createDate | date:'yyyy-MM-dd'"></span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="listloading" data-maxpage="2" data-url="http://www.biad.com.cn/project.php?rec=1&amp;page=" style="display: none;">
                <span>没有更多内容</span>
            </div>
        </div>
    </div>
</div>