<div ng-controller="classicProjectPostCtrl">
 
        <div id="content" class="autocw">
            <div id="projectcontent">
                <div id="projectslider">
                    <ul>
                        <li>
                            <img src="images/1412599345190.jpg" width="1736" height="1000" />
                        </li>
                        <li>
                            <img src="images/1413797160135.jpg" width="1736" height="1000" />
                        </li>
                        <li>
                            <img src="images/1412599345190.jpg" width="1736" height="1000" />
                        </li>
                        <li>
                            <img src="images/1412599345190.jpg" width="1736" height="1000" />
                        </li>
                        <li>
                            <img src="images/1412599345190.jpg" width="1736" height="1000" />
                        </li>
                        <li>
                            <img src="images/1412599345190.jpg" width="1736" height="1000" />
                        </li>
                        <li>
                            <img src="images/1412599345190.jpg" width="1736" height="1000" />
                        </li>
                        <li>
                            <img src="images/1412599345190.jpg" width="1736" height="1000" />
                        </li>
                        <li>
                            <img src="images/1412599345190.jpg" width="1736" height="1000" />
                        </li>
                        <li>
                            <img src="images/1412599345190.jpg" width="1736" height="1000" />
                        </li>
                        <li>
                            <img src="images/1412599345190.jpg" width="1736" height="1000" />
                        </li>
                    </ul>
                </div>
                <div id="projectcontrol">
                    <span id="pnum" class="fl">
                        <span>01</span>
                        / 11
                    </span>
                    <div id="slidercontrol" class="fl">
                        <ul style="width:1012px">
                            <li>
                                <a href="">
                                    <img src="../images/1412599345190.jpg" width="90" height="58" />
                                    <div class="slidemask"></div>
                                    <div class="slidebord"></div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../images/1413797160135.jpg" width="90" height="58" />
                                    <div class="slidemask"></div>
                                    <div class="slidebord"></div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../images/1412599345190.jpg" width="90" height="58" />
                                    <div class="slidemask"></div>
                                    <div class="slidebord"></div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../images/1412599345190.jpg" width="90" height="58" />
                                    <div class="slidemask"></div>
                                    <div class="slidebord"></div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../images/1412599345190.jpg" width="90" height="58" />
                                    <div class="slidemask"></div>
                                    <div class="slidebord"></div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../images/1412599345190.jpg" width="90" height="58" />
                                    <div class="slidemask"></div>
                                    <div class="slidebord"></div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../images/1412599345190.jpg" width="90" height="58" />
                                    <div class="slidemask"></div>
                                    <div class="slidebord"></div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../images/1412599345190.jpg" width="90" height="58" />
                                    <div class="slidemask"></div>
                                    <div class="slidebord"></div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../images/1412599345190.jpg" width="90" height="58" />
                                    <div class="slidemask"></div>
                                    <div class="slidebord"></div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../images/1412599345190.jpg" width="90" height="58" />
                                    <div class="slidemask"></div>
                                    <div class="slidebord"></div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../images/1412599345190.jpg" width="90" height="58" />
                                    <div class="slidemask"></div>
                                    <div class="slidebord"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="pcright" class="fr">
                        <a href="" id="pcinfo">
                            <span></span>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="projectinfo" class="hide">
                    <div id="pibody">
                        <p id="pibtitle">北京新机场</p>
                        <div id="pibpost">
                            <p>
                                总投资约800亿元，将建设4条跑道、150个机位的客机坪、24个机位的货机坪、14个机位的维修机坪;建设70万平方米的航站楼，主楼、指廊分别满足7200万和4500万人次使用需求。北京新机场位于北京市南端大兴区榆垡镇境内，大兴区南各庄与廊坊接壤处。
                            </p>
                            <p>
                                <br/>
                            </p>
                            <p>建设单位：北京新机场建设指挥部</p>
                            <p>设计时间：2015年</p>
                            <p>
                                建成时间：在建
                                <br/>
                                面积（平方米）：103万
                            </p>
                            <p>合作公司：中国民航机场建设集团</p>
                        </div>
                        <a class="close" href=""></a>
                    </div>
                </div>
            </div>
        </div>
</div>