<div ng-controller="classicProjectPostCtrl as cc">
 
        <div id="content">
            <div id="projectcontent">
                <div id="rightslider">
                    <ul id="rightsliderUl">
                        <li ng-repeat="f in fileList">
                            <img ng-src="{{f}}" width="" height="1000" />
                        </li>
                    </ul>
                </div>
                <div id="projectcontrol">
                    <span id="pnum" class="fl">
                        <span>01</span>
                        / {{fileList.length}}
                    </span>
                    <div id="slidercontrol" class="fl">
                        <ul style="width:1012px">
                            <li ng-repeat="f in fileList" ng-click="selectCarousel($index)" style="background:#585858;">
                                <a href="">
                                    <img ng-src="{{f}}" width="90" height="58" />
                                    <div class="slidemask"></div>
                                    <div class="slidebord"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="pcright" class="fr" ng-mouseover="cc.isFocus=true" ng-mouseleave="cc.isFocus=false">
                        <a href="" id="pcinfo" class="post-info">
                            <span ng-click="contentShow=true">查看介绍</span>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="projectinfo" class="" ng-show="contentShow"
                     ng-mouseover="cc.isFocus=true" ng-mouseleave="cc.isFocus=false">
                    <div id="pibody">
                    <div style="color:#c6c2c2;font-size:13px;width:100%;height:100%;">
                        <div ng-bind-html="cc.trustedBody"></div>
                        <a class="close" href=""></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</div>