<div ng-controller="classicProjectInfoCtrl">
 
        <div id="content" class="autocw">
            <div id="leftcontent" class="fl" style="height:100%;margin:0">
                <p id="lefttitle" style="padding-top:40px;height:auto;min-height:32px">策划咨询</p>
                <div id="leftbody">
                    <div class="zScroll">
                        <p>区域发展战略咨询、主题地产开发咨询、编制项目建议书、可行性研究及立项申请，投资评估，投资分析</p>
                        <p> <strong>长期以来，BIAD充分关注策划咨询设计，在于业主的交流中积极引入策划思维，在规划与建筑设计工作中积极展开策划专项设计，配合设计主业拓宽了视维，提高了设计产品的完成度。</strong> 
                        </p>
                        <p> <strong>BIAD汇聚了各类经济、规划、策划人员，并积极与院内外相关专业团队合作，配合规划与建筑团队完成了大量各类工程项目，形成了专业独立、贴近市场、服务建筑设计主业的策划咨询设计力量。</strong> 
                        </p>
                        <p>
                            <br/>
                        </p>
                    </div>
                </div>
            </div>
            <div id="listcontent" class="fr zScroll">
                <div class="pcitem projectitem">
                    <a href="http://www.biad.com.cn/projectpost.php?id=310">
                        <img src="images/1418262603421.jpg" width="280" height="180"/>
                        <div class="pcitemcc">
                            <div>
                                <p class="pcitemtitle">重庆忠县半城旅游设计与详细城市设计及实施策略</p>
                                <p class="pcitemfoot">
                                    旅游规划
                                    <span class="fr">2011-01-01</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="pcitem projectitem">
                    <a href="http://www.biad.com.cn/projectpost.php?id=311">
                        <img src="images/1418262751906.jpg" width="280" height="180"/>
                        <div class="pcitemcc">
                            <div>
                                <p class="pcitemtitle">云南西双版纳景洪嘎高端休闲养生旅游度假规划</p>
                                <p class="pcitemfoot">
                                    旅游规划
                                    <span class="fr">2011-01-01</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="pcitem projectitem last">
                    <a href="http://www.biad.com.cn/projectpost.php?id=319">
                        <img src="images/141826473193.jpg" width="280" height="180"/>
                        <div class="pcitemcc">
                            <div>
                                <p class="pcitemtitle">酉阳桃花源度假区城市设计方案</p>
                                <p class="pcitemfoot">
                                    旅游规划
                                    <span class="fr">2011-01-01</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="pcitem projectitem">
                    <a href="http://www.biad.com.cn/projectpost.php?id=358">
                        <img src="images/1418366246609.jpg" width="280" height="180"/>
                        <div class="pcitemcc">
                            <div>
                                <p class="pcitemtitle">北京门头沟杨坡园度假区策划、详细规划及启动区设计</p>
                                <p class="pcitemfoot">
                                    旅游规划
                                    <span class="fr">2011-01-01</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="pcitem projectitem">
                    <a href="http://www.biad.com.cn/projectpost.php?id=325">
                        <img src="images/141826574915.jpg" width="280" height="180"/>
                        <div class="pcitemcc">
                            <div>
                                <p class="pcitemtitle">北京怀柔慕田峪长城旅游区概念规划及启动区设计</p>
                                <p class="pcitemfoot">
                                    旅游规划
                                    <span class="fr">2011-01-01</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</div>