@charset "utf-8";
/* CSS Document */
/* margin */
/* margin-left */
.noml{margin-left:0px;}
.ml1{margin-left:1px;}
.ml2{margin-left:2px;}
.ml3{margin-left:3px;}
.ml4{margin-left:4px;}
.ml5{margin-left:5px;}
.ml6{margin-left:6px;}
.ml7{margin-left:7px;}
.ml8{margin-left:8px;}
.ml9{margin-left:9px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.ml60{margin-left:60px;}
.ml70{margin-left:7px;}
.ml80{margin-left:80px;}
.ml90{margin-left:90px;}
.ml100{margin-left:100px;}
.ml150{margin-left:150px;}
.ml200{margin-left:200px;}
.ml300{margin-left:300px;}
.ml400{margin-left:400px;}
/* margin-right */
.nomr{margin-right:0px;}
.mr1{margin-right:1px;}
.mr2{margin-right:2px;}
.mr3{margin-right:3px;}
.mr4{margin-right:4px;}
.mr5{margin-right:5px;}
.mr6{margin-right:6px;}
.mr7{margin-right:7px;}
.mr8{margin-right:8px;}
.mr9{margin-right:9px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mr60{margin-right:60px;}
.mr70{margin-right:7px;}
.mr80{margin-right:80px;}
.mr90{margin-right:90px;}
.mr100{margin-right:100px;}
.mr150{margin-right:150px;}
.mr200{margin-right:200px;}
.mr300{margin-right:300px;}
.mr400{margin-right:400px;}
/* margin-top */
.nomt{margin-top:0px;}
.mt1{margin-top:1px;}
.mt2{margin-top:2px;}
.mt3{margin-top:3px;}
.mt4{margin-top:4px;}
.mt5{margin-top:5px;}
.mt6{margin-top:6px;}
.mt7{margin-top:7px;}
.mt8{margin-top:8px;}
.mt9{margin-top:9px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:7px;}
.mt80{margin-top:80px;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px;}
.mt150{margin-top:150px;}
.mt200{margin-top:200px;}
.mt300{margin-top:300px;}
.mt400{margin-top:400px;}

/* margin-bottom */
.nomb{margin-bottom:0px;}
.mb1{margin-bottom:1px;}
.mb2{margin-bottom:2px;}
.mb3{margin-bottom:3px;}
.mb4{margin-bottom:4px;}
.mb5{margin-bottom:5px;}
.mb6{margin-bottom:6px;}
.mb7{margin-bottom:7px;}
.mb8{margin-bottom:8px;}
.mb9{margin-bottom:9px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mb70{margin-bottom:7px;}
.mb80{margin-bottom:80px;}
.mb90{margin-bottom:90px;}
.mb100{margin-bottom:100px;}
.mb150{margin-bottom:150px;}
.mb200{margin-bottom:200px;}
.mb300{margin-bottom:300px;}
.mb400{margin-bottom:400px;}
/* margin-left,right */
.nommlr{margin-left:0px;margin-right:0px;}
.mmlr1{margin-left:1px;margin-right:1px;}
.mmlr2{margin-left:2px;margin-right:2px;}
.mmlr3{margin-left:3px;margin-right:3px;}
.mmlr4{margin-left:4px;margin-right:4px;}
.mmlr5{margin-left:5px;margin-right:5px;}
.mmlr8{margin-left:8px;margin-right:8px;}
.mmlr10{margin-left:10px;margin-right:10px;}
.mmlr15{margin-left:15px;margin-right:15px;}
.mmlr20{margin-left:20px;margin-right:20px;}
.mmlr30{margin-left:30px;margin-right:30px;}
.mmlr40{margin-left:40px;margin-right:40px;}
.mmlr50{margin-left:50px;margin-right:50px;}
.mmlr100{margin-left:100px;margin-right:100px;}
.mmlr150{margin-left:150px;margin-right:150px;}
.mmlr200{margin-left:200px;margin-right:200px;}
/* margin-top,bottom */
.nommtb{margin-top:0px;margin-bottom:0px;}
.mmtb1{margin-top:1px;margin-bottom:1px;}
.mmtb2{margin-top:2px;margin-bottom:2px;}
.mmtb3{margin-top:3px;margin-bottom:3px;}
.mmtb4{margin-top:4px;margin-bottom:4px;}
.mmtb5{margin-top:5px;margin-bottom:5px;}
.mmtb8{margin-top:8px;margin-bottom:8px;}
.mmtb10{margin-top:10px;margin-bottom:10px;}
.mmtb15{margin-top:15px;margin-bottom:15px;}
.mmtb20{margin-top:20px;margin-bottom:20px;}
.mmtb30{margin-top:30px;margin-bottom:30px;}
.mmtb40{margin-top:40px;margin-bottom:40px;}
.mmtb50{margin-top:50px;margin-bottom:50px;}
.mmtb100{margin-top:100px;margin-bottom:100px;}
.mmtb150{margin-top:150px;margin-bottom:150px;}
.mmtb200{margin-top:200px;margin-bottom:200px;}
/* margin-top,bottom */
.nommmm{margin:0px;}


/* padding */
/* padding-left */
.nopl{padding-left:0px;}
.pl1{padding-left:1px;}
.pl2{padding-left:2px;}
.pl3{padding-left:3px;}
.pl4{padding-left:4px;}
.pl5{padding-left:5px;}
.pl6{padding-left:6px;}
.pl7{padding-left:7px;}
.pl8{padding-left:8px;}
.pl9{padding-left:9px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl70{padding-left:7px;}
.pl80{padding-left:80px;}
.pl90{padding-left:90px;}
.pl100{padding-left:100px;}
.pl150{padding-left:150px;}
.pl200{padding-left:200px;}
.pl300{padding-left:300px;}
.pl400{padding-left:400px;}
/* padding-right */
.nopr{padding-right:0px;}
.pr1{padding-right:1px;}
.pr2{padding-right:2px;}
.pr3{padding-right:3px;}
.pr4{padding-right:4px;}
.pr5{padding-right:5px;}
.pr6{padding-right:6px;}
.pr7{padding-right:7px;}
.pr8{padding-right:8px;}
.pr9{padding-right:9px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr70{padding-right:7px;}
.pr80{padding-right:80px;}
.pr90{padding-right:90px;}
.pr100{padding-right:100px;}
.pr150{padding-right:150px;}
.pr200{padding-right:200px;}
.pr300{padding-right:300px;}
.pr400{padding-right:400px;}
/* padding-top */
.nopt{padding-top:0px;}
.pt1{padding-top:1px;}
.pt2{padding-top:2px;}
.pt3{padding-top:3px;}
.pt4{padding-top:4px;}
.pt5{padding-top:5px;}
.pt6{padding-top:6px;}
.pt7{padding-top:7px;}
.pt8{padding-top:8px;}
.pt9{padding-top:9px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt70{padding-top:7px;}
.pt80{padding-top:80px;}
.pt90{padding-top:90px;}
.pt100{padding-top:100px;}
.pt150{padding-top:150px;}
.pt200{padding-top:200px;}
.pt300{padding-top:300px;}
.pt400{padding-top:400px;}

/* padding-bottom */
.nopb{padding-bottom:0px;}
.pb1{padding-bottom:1px;}
.pb2{padding-bottom:2px;}
.pb3{padding-bottom:3px;}
.pb4{padding-bottom:4px;}
.pb5{padding-bottom:5px;}
.pb6{padding-bottom:6px;}
.pb7{padding-bottom:7px;}
.pb8{padding-bottom:8px;}
.pb9{padding-bottom:9px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb70{padding-bottom:7px;}
.pb80{padding-bottom:80px;}
.pb90{padding-bottom:90px;}
.pb100{padding-bottom:100px;}
.pb150{padding-bottom:150px;}
.pb200{padding-bottom:200px;}
.pb300{padding-bottom:300px;}
.pb400{padding-bottom:400px;}
/* padding-left,right */
.nopplr{padding-left:0px;margin-right:0px;}
.pplr1{padding-left:1px;margin-right:1px;}
.pplr2{padding-left:2px;margin-right:2px;}
.pplr3{padding-left:3px;margin-right:3px;}
.pplr4{padding-left:4px;margin-right:4px;}
.pplr5{padding-left:5px;margin-right:5px;}
.pplr8{padding-left:8px;margin-right:8px;}
.pplr10{padding-left:10px;margin-right:10px;}
.pplr15{padding-left:15px;margin-right:15px;}
.pplr20{padding-left:20px;margin-right:20px;}
.pplr30{padding-left:30px;margin-right:30px;}
.pplr40{padding-left:40px;margin-right:40px;}
.pplr50{padding-left:50px;margin-right:50px;}
.pplr100{padding-left:100px;margin-right:100px;}
.pplr150{padding-left:150px;margin-right:150px;}
.pplr200{padding-left:200px;margin-right:200px;}
/* padding-top,bottom */
.nopptb{padding-top:0px;margin-bottom:0px;}
.pptb1{padding-top:1px;margin-bottom:1px;}
.pptb2{padding-top:2px;margin-bottom:2px;}
.pptb3{padding-top:3px;margin-bottom:3px;}
.pptb4{padding-top:4px;margin-bottom:4px;}
.pptb5{padding-top:5px;margin-bottom:5px;}
.pptb8{padding-top:8px;margin-bottom:8px;}
.pptb10{padding-top:10px;margin-bottom:10px;}
.pptb15{padding-top:15px;margin-bottom:15px;}
.pptb20{padding-top:20px;margin-bottom:20px;}
.pptb30{padding-top:30px;margin-bottom:30px;}
.pptb40{padding-top:40px;margin-bottom:40px;}
.pptb50{padding-top:50px;margin-bottom:50px;}
.pptb100{padding-top:100px;margin-bottom:100px;}
.pptb150{padding-top:150px;margin-bottom:150px;}
.pptb200{padding-top:200px;margin-bottom:200px;}
/* padding-top,bottom */
.nopppp{padding:0px;}