<div ng-controller="boardMemberCtrl">
    <ul id="submenus" class="autocw">
        <li>
           <a href="/web/aboutSdd/companyOverview">大地简介</a>
       </li>
        <li>
           <a href="/web/aboutSdd/boardMember" class="now">董事会成员</a>
       </li>
        <li>
           <a href="/web/aboutSdd/org">组织架构</a>
       </li>
        <li>
           <a href="/web/aboutSdd/cream">大地精英</a>
       </li>
        <li>
           <a href="/web/aboutSdd/enterpriseQuality">企业资质</a>
       </li>
    <div class="clear"></div>
    </ul>
    <div id="lefttitle">
        <span class="fl">董事会成员</span>
        <div class="clear"></div>
    </div>
<div style="width: 1140px; margin: 0 auto;">

    
    <div style="margin-top: 20px;overflow-y: hidden; outline: none;" tabindex="5000">
        <div class="lditem rw">
            <img src="http://www.biad.com.cn/upload/201410/1413883319228.jpg" width="188" height="266">
            <div class="lddesc rw">
                彭培根
                <p>企业法人、董事长，总建筑师，国家一级注册建筑师，清华大学教授，著名建筑大师和建筑评论家。</p>
            </div>
        </div>
        <div class="lditem rw">
            <img src="http://www.biad.com.cn/upload/201410/1413883345336.jpg" width="188" height="266">
            <div class="lddesc rw">
                闫岩
                <p>副董事长，总经理，国家一级注册建筑师，高级建筑师。</p>
            </div>
        </div>
        <div class="lditem rw">
            <img src="http://www.biad.com.cn/upload/201410/1413883319228.jpg" width="188" height="266">
            <div class="lddesc rw">
                汤沛
                <p>副董事长，常务副总经理，经营管理中心总经理，国家一级注册建筑师。</p>
            </div>
        </div>
        <div class="lditem rw">
            <img src="http://www.biad.com.cn/upload/201410/1413883319228.jpg" width="188" height="266">
            <div class="lddesc rw">
                邸惠泉
                <p>设计总监，总工办负责人，国家一级注册建筑师。</p>
            </div>
        </div>
        <div class="lditem rw">
            <img src="http://www.biad.com.cn/upload/201410/1413883319228.jpg" width="188" height="266">
            <div class="lddesc rw">
                文杰
                <p>湖南分公司负责人，国家一级注册建筑师。</p>
            </div>
        </div>
        <div class="lditem rw">
            <img src="http://www.biad.com.cn/upload/201410/1413883319228.jpg" width="188" height="266">
            <div class="lddesc rw">
                郝小冬
                <p>副总经理，北京分公司负责人，国家一级注册建筑师，高级建筑师。</p>
            </div>
        </div>
        <div class="lditem rw">
            <img src="http://www.biad.com.cn/upload/201410/1413883319228.jpg" width="188" height="266">
            <div class="lddesc rw">
                杨光
                <p>副总经理，设计管理中心总经理，国家一级注册建筑师。</p>
            </div>
        </div>
        <div class="lditem rw">
            <img src="http://www.biad.com.cn/upload/201410/1413883319228.jpg" width="188" height="266">
            <div class="lddesc rw">
                吴明哲
                <p>副总经理，北京分公司负责人，高级建筑师。</p>
            </div>
        </div>
    </div>
</div>
</div>