<div ng-controller="companyOverviewCtrl">
    <ul id="submenus" class="autocw">
        <li>
            <a href="/web/aboutSdd/gmSpeech">总经理致辞</a>
        </li>
        <li>
            <a href="/web/aboutSdd/companyOverview" style="color:#3b3b3b">公司总览</a>
        </li>
        <li>
            <a href="/web/aboutSdd/coreIdea">核心理念</a>
        </li>
        <li>
            <a href="/web/aboutSdd/serviceCategory">服务范畴</a>
        </li>
        <li>
            <a href="/web/aboutSdd/skillSpecialty">技能特长</a>
        </li>
        <li>
            <a href="/web/aboutSdd/honor">荣誉奖项</a>
        </li>
        <div class="clear"></div>
    </ul>
    <div id="content" class="autocw pagetA">
        <div id="leftcontent" class="fr">
            <div id="lefttitle">
                <span class="fl">公司总览</span>
                <!-- <ul class="fl">
                    <li class="active">
                        <a>公司介绍</a>
                    </li>
                    <li>
                        <a>历史传承</a>
                    </li>
                </ul> -->
                <div class="clear"></div>
            </div>
            <div id="leftbody" class="zScroll about_article">
                <h2><strong>大地建筑事务所（国际）</strong></h2>
                <h4>于1985年由加拿大籍华人建筑师、清华大学教授彭培根先生创建，是中国第一家中外合资的具有甲级资质的建筑设计机构。经过27年的发展，现已成为超过700人的大型建筑设计集团，累计完成了1200多个工程设计项目。</h4>
                <p>大地上海管理团队年轻而富有激情，稳健却不乏创新。其核心设计团队由资深外籍建筑师、海归以及本土优秀建筑师组成。其中近三分之一的人员工作超过10年，具有丰富的实践经验，他们是高品质作品得以全程控制并实现的可靠保障。</p>
                <p>大地上海为业主提供房地产可行性研究、城市规划设计、建筑设计、环境设计、室内设计、结构机电设计顾问、项目管理等专业服务。</p>
                <p>大地上海的建成作品已遍布上海、北京、天津等一线城市以及江苏、浙江、安徽、山东、江西、湖北、河南、河北等各省份。</p>
                <p>我们的客户包括房地产开发商、各类企事业单位、政府机关等；我们的设计作品涵盖居住、商业办公、酒店度假、文化教育、公共市政、城市综合体等多个类别。</p>
                <p>大地上海全体员工将一如既往地秉承对业主高度负责和对设计高附加值执着追求的原则，为社会提供卓越的设计作品。</p>
                <p>
                    <br/>
                </p>
            </div>
        </div>
        <div id="rightcontent" class="fl">
            <div id="rightslider">
                <ul>
                    <li>
                        <img src="../images/about/1.jpg"  height="550" />
                    </li>
                    <li>
                        <img src="../images/about/2.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/3.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/4.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/5.jpg"    height="550"/>
                    </li>
                    <li>
                        <img src="../images/about/6.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/7.jpg"   height="550" />
                    </li>
                </ul>
            </div>
            <!--<script type="text/javascript">$(function(){$('#rightslider ul').bxSlider({pager:false,auto: true});});</script>-->
        </div>
    </div>
</div>