<div ng-controller="companyOverviewCtrl">
    <ul id="submenus" class="autocw">
       <!--  <li>
           <a href="/web/aboutSdd/gmSpeech">董事长简介</a>
       </li>
       <li>
           <a href="/web/aboutSdd/companyOverview" style="color:#3b3b3b">公司总览</a>
       </li>
       <li>
           <a href="/web/aboutSdd/honor">资质</a>
       </li> -->
        <li>
           <a href="/web/aboutSdd/companyOverview" class="now">大地简介</a>
       </li>
        <li>
           <a href="/web/aboutSdd/boardMember">董事会成员</a>
       </li>
        <li>
           <a href="/web/aboutSdd/org">组织架构</a>
       </li>
        <li>
           <a href="/web/aboutSdd/cream">大地精英</a>
       </li>
        <li>
           <a href="/web/aboutSdd/enterpriseQuality">企业资质</a>
       </li>
        <div class="clear"></div>
    </ul>
    <div id="content" class="autocw pagetA">
        <div id="leftcontent" class="fr">
            <div id="lefttitle">
                <span class="fl">大地简介</span>
                <!-- <ul class="fl">
                    <li class="active">
                        <a>公司介绍</a>
                    </li>
                    <li>
                        <a>历史传承</a>
                    </li>
                </ul> -->
                <div class="clear"></div>
            </div>
            <div id="leftbody" class="about_article">
                <h2><strong>大地建筑事务所（国际）</strong></h2>
                <p>大地建筑事务所（国际）是1985年由加拿大籍华人著名建筑师彭培根发起，中外双方多位著名建筑师、工程师和规划专家共同创办的中国第一家拥有建筑工程设计甲级资质的中外合资建筑设计企业。目前拥有建筑工程设计甲级资质、城乡规划乙级资质。</p>
                <p>大地建筑事务所（国际）总部设于北京，并在北京、上海、深圳、杭州、重庆、成都、西安、青岛、河北、湖南、内蒙古、山西等地设有设计机构。大地建筑事务所（国际）汇集了1000多人的专业团队，包括众多优秀的建筑师、城市规划师、室内设计师及景观设计师。为了更好地给客户提供全面与全程服务，大地建筑事务所（国际）搭建了一个高效的多专业机构协同工作平台。</p>
                <p>
                    <br/>
                </p>
            </div>
        </div>
        <div id="rightcontent" class="fl">
            <div id="rightslider" style="width:590px;">
                <ul>
                    <li>
                        <img src="../images/about/0201.jpg"  height="550" />
                    </li>
                    <li>
                        <img src="../images/about/0202.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/0203.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/0204.jpg"   height="550" />
                    </li>
                </ul>
            </div>
            <!--<script type="text/javascript">$(function(){$('#rightslider ul').bxSlider({pager:false,auto: true});});</script>-->
        </div>
    </div>
</div>