<div ng-controller="coreIdeaCtrl">
    <ul id="submenus" class="autocw">
        <li>
            <a href="/web/aboutSdd/gmSpeech">总经理致辞</a>
        </li>
        <li>
            <a href="/web/aboutSdd/companyOverview">公司总览</a>
        </li>
        <li>
            <a href="/web/aboutSdd/coreIdea" style="color:#3b3b3b">核心理念</a>
        </li>
        <li>
            <a href="/web/aboutSdd/serviceCategory">服务范畴</a>
        </li>
        <li>
            <a href="/web/aboutSdd/skillSpecialty">技能特长</a>
        </li>
        <li>
            <a href="/web/aboutSdd/honor">荣誉奖项</a>
        </li>
        <div class="clear"></div>
    </ul>
    <div id="content" class="autocw pagetA">
        <div id="leftcontent" class="fr">
            <div id="lefttitle">
                <span class="fl">核心理念</span>
                <!-- <ul class="fl">
                    <li class="active">
                        <a>公司介绍</a>
                    </li>
                    <li>
                        <a>历史传承</a>
                    </li>
                </ul> -->
                <div class="clear"></div>
            </div>
            <div id="leftbody" class="zScroll about_article">
                <h2>企业人才观</h2>
                <p>公平：平等的人格   平等的机会   公平的受益</p>
                <p>成长：知识的成长   心灵的成长   事业的成长</p>
                <p>分享：收益的分享   知识的分享   情感的分享</p>
                <h2>设计理念</h2>
                <p>基于对客户和社会需求的深度理解，创造高品质环境空间</p>
                <h2>公司愿景</h2>
                <p>大设天下</p>
                <h2>公司宗旨</h2>
                <p>携手共筑美好未来</p>
                <h2>公司价值观</h2>
                <p>左手激情，右手智慧，梦在前方，路在脚下</p>
            </div>
        </div>
        <div id="rightcontent" class="fl">
            <div id="rightslider">
                <ul>
                    <li>
                        <img src="../images/about/1.jpg"  height="550" />
                    </li>
                    <li>
                        <img src="../images/about/2.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/3.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/4.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/5.jpg"    height="550"/>
                    </li>
                    <li>
                        <img src="../images/about/6.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/7.jpg"   height="550" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>