<div ng-controller="creamCtrl">
    <ul id="submenus" class="autocw">
        <li>
           <a href="/web/aboutSdd/companyOverview">大地简介</a>
       </li>
        <li>
           <a href="/web/aboutSdd/boardMember">董事会成员</a>
       </li>
        <li>
           <a href="/web/aboutSdd/org">组织架构</a>
       </li>
        <li>
           <a href="/web/aboutSdd/cream" class="now">大地精英</a>
       </li>
        <li>
           <a href="/web/aboutSdd/enterpriseQuality">企业资质</a>
       </li>
    <div class="clear"></div>
    </ul>

    <div id="lefttitle">
        <span class="fl">大地精英</span>
        <div class="clear"></div>
    </div>
<div style="width: 1140px; margin: 0 auto;">
<!--     <div style="margin-top: 20px;overflow-y: hidden; outline: none;" tabindex="5000">
    <div class="lditem rw">
        <img src="http://www.biad.com.cn/upload/201410/1413883319228.jpg" width="188" height="266">
        <div class="lddesc rw">
            小明
            <p>中国工程院院士、全国工程勘察设计大师</p>
        </div>
    </div>
    <div class="lditem rw">
        <img src="http://www.biad.com.cn/upload/201410/1413883345336.jpg" width="188" height="266">
        <div class="lddesc rw">
            张三丰
            <p>全国工程勘察设计大师</p>
        </div>
    </div>
</div> -->
</div>
</div>