<div ng-controller="enterpriseQualityCtrl">
    <ul id="submenus" class="autocw">
        <li>
           <a href="/web/aboutSdd/companyOverview">大地简介</a>
       </li>
        <li>
           <a href="/web/aboutSdd/boardMember">董事会成员</a>
       </li>
        <li>
           <a href="/web/aboutSdd/org">组织架构</a>
       </li>
        <li>
           <a href="/web/aboutSdd/cream">大地精英</a>
       </li>
        <li>
           <a href="/web/aboutSdd/enterpriseQuality" class="now">企业资质</a>
       </li>
        <div class="clear"></div>
    </ul>

   
       <div class="aptitude-title">企业资质</div>
       <div class="aptitude-main">
           <div class="aptitude-one fl">
               <div class="aptitude-pic"><img src="../images/about/0301.jpg"></div>
               <div class="aptitude-name">工程资质证书</div>
           </div>
           <div class="aptitude-one fr">
               <div class="aptitude-pic"><img src="../images/about/0302.jpg" alt=""></div>
               <div class="aptitude-name">规划证书正本</div>
           </div>
           <div class="aptitude-one fl">
               <div class="aptitude-pic"><img src="../images/about/0303.jpg" alt=""></div>
               <div class="aptitude-name">营业执照</div>
           </div>
           <div class="aptitude-one fr">
               <div class="aptitude-pic"><img src="../images/about/0304.jpg" alt=""></div>
               <div class="aptitude-name">ISO9001质量管理体系认证</div>
           </div>
           <div class="clear"></div>    
        </div>  


</div>