<div ng-controller="gmSpeedCtrl">
    <ul id="submenus" class="autocw">
        <li>
            <a href="/web/aboutSdd/gmSpeech" style="color:#3b3b3b">总经理致辞</a>
        </li>
        <li>
            <a href="/web/aboutSdd/companyOverview">公司总览</a>
        </li>
        <li>
            <a href="/web/aboutSdd/coreIdea">核心理念</a>
        </li>
        <li>
            <a href="/web/aboutSdd/serviceCategory">服务范畴</a>
        </li>
        <li>
            <a href="/web/aboutSdd/skillSpecialty">技能特长</a>
        </li>
        <li>
            <a href="/web/aboutSdd/honor">荣誉奖项</a>
        </li>
        <div class="clear"></div>
    </ul>
    <div id="content" class="autocw pagetA">
        <div id="leftcontent" class="fr">
            <div id="lefttitle">
                <span class="fl">总经理致辞</span>
               
                <div class="clear"></div>
            </div>
            <div id="leftbody" class="zScroll about_article">
                <h2><strong>百年建筑</strong> 当走过或走进我们设计的建筑，</h2>
                <h2>会有怎样的感受？</h2>
                <h2><em>不敢直面？非常遗憾？还是感到</em><span>自豪和欣慰</span>？</h2>
                <p>每次看到建筑中处理不当和瑕疵的地方，内心都会感到惶恐和不安，没有理由不举轻若重，如履薄冰的对待设计的每一个细节，这是社会赋予设计师的责任。尽最大的努力追求“精致、完美、合理、完善”是大地上海的核心价值观和质量方针。</p>
                <p>建筑不是一个人的作品，一个项目动辄几亿的投资，需要参与方共同的努力，需要团队共同的贡献，替客户多想一点，与供应商密切配合，整合优势资源，努力创造更多的“客户价值”和“社会价值”是大地上海义不容辞的责任。</p>
                <p>设计一个方案概念可能要一个月，设计一个工程可能要一年，建造一个工程可能要三五年时间，建成的项目将几十年甚至上百年的影响着一个街区、一个城市和无数使用者的生活。我们明白一个道理，坚持“安全、适用、美观”的设计原则，克服一切功利、浮躁、短视的思想，“为了一分的完善改进，付出十分的努力”。唯有如此，才是设计师良心的体现，才能赢得客户的尊重，实现自我的价值。希望这样的价值观念在大地上海传承下去，发扬光大。</p>
                <h4>设计总裁 <span>王占文</span></h4>
                <br>
                <p>
                    <br/>
                </p>
            </div>
        </div>
        <div id="rightcontent" class="fl">
            <div id="rightslider">
                <ul>
                    <li>
                        <img src="../images/about/1.jpg"  height="550" />
                    </li>
                    <li>
                        <img src="../images/about/2.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/3.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/4.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/5.jpg"    height="550"/>
                    </li>
                    <li>
                        <img src="../images/about/6.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/7.jpg"   height="550" />
                    </li>
                </ul>
            </div>
            <!--&lt;!&ndash;<script type="text/javascript">$(function(){$('#rightslider ul').bxSlider({pager:false,auto: true});});</script>&ndash;&gt;-->
        </div>
    </div>
</div>