<div ng-controller="gmSpeedCtrl">
    <ul id="submenus" class="autocw">
        <li>
            <a href="/web/aboutSdd/gmSpeech" style="color:#3b3b3b">董事长简介</a>
        </li>
        <li>
            <a href="/web/aboutSdd/companyOverview">公司总览</a>
        </li>
        <li>
            <a href="/web/aboutSdd/honor">资质</a>
        </li>
       <!--  <li>
           <a href="/web/aboutSdd/serviceCategory">服务范畴</a>
       </li>
       <li>
           <a href="/web/aboutSdd/skillSpecialty">技能特长</a>
       </li>
       <li>
           <a href="/web/aboutSdd/honor">荣誉奖项</a>
       </li> -->
        <div class="clear"></div>
    </ul>
    <div id="content" class="autocw pagetA">
        <div id="leftcontent" class="fr">
            <div id="lefttitle">
                <span class="fl">董事长简介</span>
               
                <div class="clear"></div>
            </div>
            <div id="leftbody" class="about_article">
                <h2 style="margin-left:20px;">彭培根  P.K.Alfred PENG</h2>
                <p>董事长、总建筑师、著名建筑大师与评论家、清华大学资深教授、联合国—生态安全科学院院士、Macklin Hancock（汉可梅）名誉终身董事、哈佛教授、Stevens（司徒凯）名誉终身董事。</p>
                <h4>董事长 <span>彭培根</span></h4>
                <br>
                <p>
                    <br/>
                </p>
            </div>
        </div>
        <div id="rightcontent" class="fl">
            <img src="../images/about/dsz.jpg" alt="">
        </div>
    </div>
</div>