<div ng-controller="honorCtrl">
    <ul id="submenus" class="autocw">
        <li>
            <a href="/web/aboutSdd/gmSpeech">总经理致辞</a>
        </li>
        <li>
            <a href="/web/aboutSdd/companyOverview">公司总览</a>
        </li>
        <li>
            <a href="/web/aboutSdd/coreIdea">核心理念</a>
        </li>
        <li>
            <a href="/web/aboutSdd/serviceCategory">服务范畴</a>
        </li>
        <li>
            <a href="/web/aboutSdd/skillSpecialty">技能特长</a>
        </li>
        <li>
            <a href="/web/aboutSdd/honor" style="color:#3b3b3b">荣誉奖项</a>
        </li>
        <div class="clear"></div>
    </ul>

    <div id="content" class="autocw pagetA honor" style="height: 319px;">
        <div id="leftcontent" class="fl">
            <div id="honorleft">
                <div id="lefttitle">
                    <span class="fl">荣誉资质</span>
                    <div class="clear"></div>
                </div>
                <div id="leftbody" class="zScroll" tabindex="5000" style="height: 252px; overflow-y: hidden; outline: none;">
                    <p>工程资质证书（注册号：A1110122269）</p>
                    <p>工程资质证书（注册号：A1110122269）</p>
                    <p>工程资质证书（注册号：A1110122269）</p>
                    <p>工程资质证书（注册号：A1110122269）</p>
                    <p>
                        <br></p>
                </div>
            </div>
        </div>
        <div id="rightcontent" class="fr zScroll" tabindex="5001" style="overflow-y: hidden; outline: none;">
            <a href="../images/zhengshu/1.jpg"><img src="../images/zhengshu/1.jpg" width='200'/></a>
            <a href="../images/zhengshu/1.jpg"><img src="../images/zhengshu/2.jpg" width='200'/></a>
            <a href="../images/zhengshu/1.jpg"><img src="../images/zhengshu/3.jpg" width='200'/></a>
            <div class="clear"></div>
        </div>
    </div>

</div>