<div ng-controller="joinUsCtrl">
    <div class="x-join-title">加入大地</div>

    <div class="x-join-left">
      <div class="slogan">我们长期欢迎热爱建筑的年轻朋友们前来实习与工作，你将有机会和富有经验的专业团队一起工作，参与多种类型的设计项目。欢迎将简历和作品集发送到我们的邮箱geaei1985@163.com，我们将酌情安排面试。谢谢</div>
      <div class="x-join-main">
        <div class="tit">联系方式</div>
        <p>地址：<i>北京市海淀区西四环北路15号依斯特大厦901室</i></p>
        <p>邮编：<i>100195</i></p>
        <p>电话：<i>010-8844-7117</i></p>
        <p>传真：<i>010-8844-9442</i></p>
        <p>邮箱：<i>geaei1985@163.com</i></p>
      </div>
      <div class="x-join-other">
          <div class="tit">各分公司地址：</div>
          <p class="t">大地建筑事务所（国际）上海分公司</p>
          <p>地址：上海浦东向城路58号4楼</p>
          <br>
          <br>
          <p>大地建筑事务所（国际）杭州分公司</p>
          <p>地址：杭州市拱墅区金华南路189#丝联166创意园S9 </p>
          <br>
          <br>
          <p>大地建筑事务所（国际）深圳分公司</p>
          <p>地址：深圳市南山区华侨城东部工业区E3栋6楼</p>
          <br>
          <br>
          <p>大地建筑事务所（国际）河北分公司</p>
          <p>地址：石家庄市长安区广安大街美东国际B座2807</p>
          <br>
          <br>
          <p>大地建筑事务所（国际）湖南分公司</p>
          <p>地址：长沙市岳麓区银盆岭奥克斯广场环球中心</p>
          <br>
          <br>
          <p>大地建筑事务所（国际）重庆分公司</p>
          <p>地址：重庆市渝中区大坪龙湖时代天街11栋13楼</p>
          <br>
          <br>
          <p>大地建筑事务所（国际）西安分公司</p>
          <p>地址：西安市莲湖区劳动南路旭景名园10号楼三层</p>
          <br>
          <br>
          <p>大地建筑事务所（国际）成都分公司</p>
          <p>地址：成都市锦江区红星路一段35号文化创意产业园1号楼6楼</p>
          <br>
          <br>
          <p>大地建筑事务所（国际）青岛分公司</p>
          <p>地址：青岛市市南区银川西路67号E座319A</p>
      </div>

    </div>
    <div class="x-join-right">
      <div class="tit">>>公司地图</div>
      <div class="map">
        <img src="../images/map.jpg" alt="">
      </div>
    </div>
    <div class="clear"></div>
</div>