<div ng-controller="orgCtrl">
    <ul id="submenus" class="autocw">
        <li>
           <a href="/web/aboutSdd/companyOverview">大地简介</a>
       </li>
        <li>
           <a href="/web/aboutSdd/boardMember">董事会成员</a>
       </li>
        <li>
           <a href="/web/aboutSdd/org" class="now">组织架构</a>
       </li>
        <li>
           <a href="/web/aboutSdd/cream">大地精英</a>
       </li>
        <li>
           <a href="/web/aboutSdd/enterpriseQuality">企业资质</a>
       </li>
        <div class="clear"></div>
    </ul>
<div id="lefttitle">
    <span class="fl">组织架构</span>
    <div class="clear"></div>
</div>
    <div  style="width:856px;height:454px;margin:40px auto;" >
    <img src="../images/about/org.png"  style="width:856px;height:454px;" alt="">
    </div>
</div>