<div ng-controller="serviceCategoryCtrl">
    <ul id="submenus">
        <li>
            <a href="/web/aboutSdd/gmSpeech">董事长简介</a>
        </li>
        <li>
            <a href="/web/aboutSdd/companyOverview">公司总览</a>
        </li>
        <li>
            <a href="/web/aboutSdd/coreIdea">资质</a>
        </li>
        <!-- <li>
            <a href="/web/aboutSdd/serviceCategory" style="color:#3b3b3b">服务范畴</a>
        </li>
        <li>
            <a href="/web/aboutSdd/skillSpecialty">技能特长</a>
        </li>
        <li>
            <a href="/web/aboutSdd/honor">荣誉奖项</a>
        </li> -->
        <div class="clear"></div>
    </ul>
    <div id="content">
        <div id="leftcontent" class="fl" style="overflow-y:auto;">
            <div id="lefttitle">
                <span class="fl">服务范畴</span>
                <!-- <ul class="fl">
                    <li class="active">
                        <a>公司介绍</a>
                    </li>
                    <li>
                        <a>历史传承</a>
                    </li>
                </ul> -->
                <div class="clear"></div>
            </div>
            <div id="leftbody" class="zScroll about_article">
                <h2>大地上海为业主提供房地产可行性研究、城市规划设计、建筑设计、环境设计、室内设计、结构机电设计顾问、项目管理等专业服务。</h2>
                <p><img src="../images/index/service_01.jpg"/></p>
                <h3><strong>可行性研究</strong></h3>
                <p>作为开发商的密切合作伙伴，大地上海长期为我们的客户提供项目的前期咨询服务，包括项目的策划定位和技术层面的可行性研究报告。</p>
                <p><img src="../images/index/service_02.jpg"/></p>
                <h3><strong>规划设计</strong></h3>
                <p>大地上海擅长城市综合体，综合性住区的设计。规划设计水平和完善优质的服务得到了众多业内客户的好评。</p>
                <p><img src="../images/index/service_03.jpg"/></p>
                <h3><strong>建筑设计</strong></h3>
                <p>作为大地上海的主营业务，我们提供概念方案和施工图配合等全程设计服务，设计类型涵盖居住、商业、办公、酒店度假、文教和公共市政等各个领域，并拥有中国建筑部颁发的甲级建筑设计资质。</p>
                <p><img src="../images/index/service_04.jpg"/></p>
                <h3><strong>景观设计</strong></h3>
                <p>景观设计作为大地上海主营业务的强力技术支持，项目主要涵盖住区景观，公共景观和公园绿地等领域。</p>
                <p><img src="../images/index/service_05.jpg"/></p>
                <h3><strong>室内设计</strong></h3>
                <p>大地上海同样提供包括住宅（别墅和公寓），商业办公的室内空间的设计服务。关注人性需求，创造和谐宜人，生态环保的人居环境是大地上海的设计理念</p>
                <p><img src="../images/index/service_06.jpg"/></p>
                <h3><strong>项目管理</strong></h3>
                <p>大地上海在项目管理上也有着丰富的经验，我们可以针对不同的地产项目为客户提供以项目经理为核心的项目组，整合各方面资源，协助客户从投资决策开始到项目结束进行计划组织，协调控制和评估验收的全过程服务。</p>
            </div>
        </div>
        <div id="rightcontent" class="fr">
            <div id="rightslider">
                <ul>
                    <li>
                        <img src="../images/about/1.jpg"  height="550" />
                    </li>
                    <li>
                        <img src="../images/about/1.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/1.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/1.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/1.jpg"    height="550"/>
                    </li>
                    <li>
                        <img src="../images/about/1.jpg"   height="550" />
                    </li>
                    <li>
                        <img src="../images/about/1.jpg"   height="550" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>