<div ng-controller="skillSpecialtyCtrl">
    <ul id="submenus" class="autocw">
        <li>
            <a href="/web/aboutSdd/gmSpeech">总经理致辞</a>
        </li>
        <li>
            <a href="/web/aboutSdd/companyOverview">公司总览</a>
        </li>
        <li>
            <a href="/web/aboutSdd/coreIdea">核心理念</a>
        </li>
        <li>
            <a href="/web/aboutSdd/serviceCategory">服务范畴</a>
        </li>
        <li>
            <a href="/web/aboutSdd/skillSpecialty" style="color:#3b3b3b">技能特长</a>
        </li>
        <li>
            <a href="/web/aboutSdd/honor">荣誉奖项</a>
        </li>
        <div class="clear"></div>
    </ul>


    55555555555555
</div>