
<div class="x-pagination fr clearfix">
    <a href="" class="x-page" ng-click="changePage('next')" ng-class="{enable:pageObject.currentPage==pageObject.totalPage || pageObject.totalPage==0}"
       ng-disabled="pageObject.currentPage==pageObject.totalPage">下一页</a>

    <a href="" class="x-page mrright10" ng-bind="'第'+pageObject.currentPage+'页'"
       ng-click="pageSelector.show=true" ng-mouseleave="pageSelector.focus=false" ng-mouseover="pageSelector.focus=true">&nbsp;&nbsp;&nbsp;&nbsp;<b class="x-icons x-icons-tips fr x-pagetips"></b></a>

    <div class="x-page-select" ng-show="pageSelector.show" id="selectPage_1">
        <a href="" ng-repeat="page in pageObject.pages" ng-bind="'第'+page+'页'" ng-class="{cur:page==pageObject.currentPage}" ng-click="selectPage(page)"></a>
    </div>
    <!--&lt;!&ndash; 到第一页和最后一页的时候不需要的a标签按钮添加class样式"novisibility"隐藏上一页或者下一页按钮 &ndash;&gt;-->
    <a href="" class="x-page mrright10" ng-click="changePage('prev')" ng-class="{enable:pageObject.currentPage==1}" ng-disabled="pageObject.currentPage==1">上一页</a>
</div>