<div ng-controller="newsListCtrl">
    <link type="text/css" href="css/index.css" rel="stylesheet">
<div class="x-inner">
    <div class="new-adds-box">
        .new-add0
    </div>
    <div class="new-List">
    <div class="new-List-title">新闻列表</div>
        <ul class="new-List-main">
            <li class="list-pt-li">
                <a class="list-pt-pic fl"><img src="images/1412599200830.jpg" border="0" width="181" height="136"></a>
                <div class="fr main">
                    <a class="tit">美国女摄影师记录面瘫患者的脸(图)</a>
                    <a>
                        <p class="info">Sage Sohie是一位美国的女摄影师，因为曾经在在波士顿的面部神经诊所待过，让她对面瘫患者有了很多认识。她的作品《脸》（About Face）拍摄了面临不同程度病情的面瘫患者。往常我们对于人脸的欣赏更多的是因其平衡和对称，但是Sohier给人们提供了一种新的视角去欣赏人脸的美。Sage Sohie是一位美国的女摄影师，因为曾经在在波士顿的面部神经诊所待过，让她对面瘫患者有了很多认识。她的作品《脸》</p>
                    </a>
                    <div class="newsOne-time">深圳新闻网 <i class="date">2017-06-22</i> 14:23</div>
                </div>
                <div class="clear"></div>
            </li>
            <li class="list-pt-li">
                <a class="list-pt-pic fl"><img src="images/1412599200830.jpg" border="0" width="181" height="136"></a>
                <div class="fr main">
                    <a class="tit">美国女摄影师记录面瘫患者的脸(图)</a>
                    <a>
                        <p class="info">Sage Sohie是一位美国的女摄影师，因为曾经在在波士顿的面部神经诊所待过，让她对面瘫患者有了很多认识。她的作品《脸》（About Face）拍摄了面临不同程度病情的面瘫患者。往常我们对于人脸的欣赏更多的是因其平衡和对称，但是Sohier给人们提供了一种新的视角去欣赏人脸的美。Sage Sohie是一位美国的女摄影师，因为曾经在在波士顿的面部神经诊所待过，让她对面瘫患者有了很多认识。她的作品《脸》</p>
                    </a>
                    <div class="newsOne-time">深圳新闻网 <i class="date">2017-06-22</i> 14:23</div>
                </div>
                <div class="clear"></div>
            </li>
            <li class="list-pt-li">
                <a class="list-pt-pic fl"><img src="images/1412599200830.jpg" border="0" width="181" height="136"></a>
                <div class="fr main">
                    <a class="tit">美国女摄影师记录面瘫患者的脸(图)</a>
                    <a>
                        <p class="info">Sage Sohie是一位美国的女摄影师，因为曾经在在波士顿的面部神经诊所待过，让她对面瘫患者有了很多认识。她的作品《脸》（About Face）拍摄了面临不同程度病情的面瘫患者。往常我们对于人脸的欣赏更多的是因其平衡和对称，但是Sohier给人们提供了一种新的视角去欣赏人脸的美。Sage Sohie是一位美国的女摄影师，因为曾经在在波士顿的面部神经诊所待过，让她对面瘫患者有了很多认识。她的作品《脸》</p>
                    </a>
                    <div class="newsOne-time">深圳新闻网 <i class="date">2017-06-22</i> 14:23</div>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
</div>
</div>