<div ng-controller="newsListCtrl">
    <ul id="submenus" class="autocw">
        <li>
            <a style="color:#3b3b3b">推荐</a>
        </li>
        <li>
            <a>第一种</a>
        </li>
        <li>
            <a>第二种</a>
        </li>
        <div class="clear"></div>
    </ul>
    <div id="content" class="autocw" style="height: 536px;">
        <div id="listcontent" class="zScroll" tabindex="5000" style="overflow-y: hidden; outline: none;">

            <div class="am-container-1 news-content-all" style="margin-top:150px;">
                <div class="left am-u-sm-12 am-u-md-8 am-u-lg-9 ">
                    <ul class="news-ul">
                        <li class="am-u-sm-12 am-u-md-6 am-u-lg-4 ">
                            <a href="file:///C:/Users/%E6%88%98%E5%9B%BD%E7%AD%96/Desktop/2/view/newsPage.html">
                                <div class="news-ul-liall">
                                    <img class="news-ul-liimg" src="./大地建筑事务所（国际）_files/news.png">
                                    <div class="inform-list">
                                        <div class="inform-list-date"><i class="am-icon-arrow-circle-right"></i>2017-5-22</div>
                                        <div class="inform-list-label"><i class="am-icon-arrow-circle-right"></i>武汉光谷世界城</div>
                                    </div>
                                    <span>武汉光谷世界城</span>
                                    <p>互联网，又称网际网路或音网际网路或音译因特网英特网，是网络与网络之间所串连成的庞大网络网络与网络之间大家可是快乐的</p>
                                    <span class="see-more3">查看更多<i class="am-icon-angle-double-right"></i></span>
                                </div>
                            </a>
                        </li>
                        <li class="am-u-sm-12 am-u-md-6 am-u-lg-4 ">
                            <a href="file:///C:/Users/%E6%88%98%E5%9B%BD%E7%AD%96/Desktop/2/view/newsPage.html">
                                <div class="news-ul-liall">
                                    <img class="news-ul-liimg" src="./大地建筑事务所（国际）_files/news.png">
                                    <div class="inform-list">
                                        <div class="inform-list-date"><i class="am-icon-arrow-circle-right"></i>2017-5-22</div>
                                        <div class="inform-list-label"><i class="am-icon-arrow-circle-right"></i>武汉光谷世界城</div>
                                    </div>
                                    <span>武汉光谷世界城</span>
                                    <p>互联网，又称网际网路或音网际网路或音译因特网英特网，是网络与网络之间所串连成的庞大网络网络与网络之间大家可是快乐的</p>
                                    <span class="see-more3">查看更多<i class="am-icon-angle-double-right"></i></span>
                                </div>
                            </a>
                        </li>
                        <li class="am-u-sm-12 am-u-md-6 am-u-lg-4 ">
                            <a href="file:///C:/Users/%E6%88%98%E5%9B%BD%E7%AD%96/Desktop/2/view/newsPage.html">
                                <div class="news-ul-liall">
                                    <img class="news-ul-liimg" src="./大地建筑事务所（国际）_files/news.png">
                                    <div class="inform-list">
                                        <div class="inform-list-date"><i class="am-icon-arrow-circle-right"></i>2017-5-22</div>
                                        <div class="inform-list-label"><i class="am-icon-arrow-circle-right"></i>武汉光谷世界城</div>
                                    </div>
                                    <span>武汉光谷世界城</span>
                                    <p>互联网，又称网际网路或音网际网路或音译因特网英特网，是网络与网络之间所串连成的庞大网络网络与网络之间大家可是快乐的</p>
                                    <span class="see-more3">查看更多<i class="am-icon-angle-double-right"></i></span>
                                </div>
                            </a>
                        </li>
                        <li class="am-u-sm-12 am-u-md-6 am-u-lg-4 ">
                            <a href="file:///C:/Users/%E6%88%98%E5%9B%BD%E7%AD%96/Desktop/2/view/news-inform.html">
                                <div class="news-ul-liall">
                                    <img class="news-ul-liimg" src="./大地建筑事务所（国际）_files/news.png">
                                    <div class="inform-list">
                                        <div class="inform-list-date"><i class="am-icon-arrow-circle-right"></i>2017-5-22</div>
                                        <div class="inform-list-label"><i class="am-icon-arrow-circle-right"></i>武汉光谷世界城</div>
                                    </div>
                                    <span>武汉光谷世界城</span>
                                    <p>互联网，又称网际网路或音网际网路或音译因特网英特网，是网络与网络之间所串连成的庞大网络网络与网络之间大家可是快乐的</p>
                                    <span class="see-more3">查看更多<i class="am-icon-angle-double-right"></i></span>
                                </div>
                            </a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                    <ul class="am-pagination ">
                        <li><a href="file:///C:/Users/%E6%88%98%E5%9B%BD%E7%AD%96/Desktop/2/view/news.html#">«</a></li>
                        <li><a href="file:///C:/Users/%E6%88%98%E5%9B%BD%E7%AD%96/Desktop/2/view/news.html#">上一页</a></li>
                        <li><a class="current-page">1</a></li>
                        <li><a href="file:///C:/Users/%E6%88%98%E5%9B%BD%E7%AD%96/Desktop/2/view/news.html#">下一页</a></li>
                        <li><a href="file:///C:/Users/%E6%88%98%E5%9B%BD%E7%AD%96/Desktop/2/view/news.html#">»</a></li>
                    </ul>
                </div>

                <div class="left am-u-sm-12 am-u-md-4 am-u-lg-3">

                    <section data-am-widget="accordion" class="am-accordion am-accordion-gapped am-no-layout" data-am-accordion="{  }">
                        <div class="hot-title"><i class="am-icon-thumbs-o-up"></i>热门新闻 / Hot  News</div>
                        <dl class="am-accordion-item">
                            <dt class="am-accordion-title">
                                投资客看好中山万博国际广场
                            </dt>
                            <dd class="am-accordion-bd am-collapse" style="height: 0px;">
                                <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
                                <div class="am-accordion-content">
                                    中山万博国际广场是由大地上海全程设计的高端物业项目。淮海西路虹桥路作为徐家汇、虹桥、中山公园、淮海路四大CBD的交集区，已成为一个新的CBD核心区。以中山万博广场为代表的高端商业综合体受到众多企业和投...
                                </div>
                            </dd>
                        </dl>
                        <dl class="am-accordion-item am-active">
                            <dt class="am-accordion-title">
                                中山万博国际广场
                            </dt>
                            <dd class="am-accordion-bd am-collapse am-in">
                                <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
                                <div class="am-accordion-content">
                                    英特网，是网络与网络之间所串连成的庞大网络网所串连成的庞大网络网
                                </div>
                            </dd>
                        </dl>

                    </section>

                </div>
            </div>
        </div>
    </div>
</div>