<div ng-controller="newsListCtrl as nc">
    <link type="text/css" href="css/index.css" rel="stylesheet">
<div class="x-inner">
    <div class="new-adds-box">
        <div class="inner">
            <div class="ad"><img src="images/index/1.jpg" alt=""></div>
            <div class="ad ml20"><img src="images/index/2.jpg" alt=""></div>
            <div class="ad ml20"><img src="images/index/3.jpg" alt=""></div>
        </div>
    </div>
    <div class="new-List">
    <div class="new-List-title">新闻列表</div>
        <ul class="new-List-main">
            <li class="list-pt-li" ng-repeat="pl in nc.projectList">
                <a class="list-pt-pic fl"><img ng-src="{{pl.defaultPath || 'images/1412599200830.jpg'}}" border="0" width="181" height="136"></a>
                <div class="fr main">
                    <a class="tit" ng-click="jumpNewsMain(pl.id);" ng-bind="pl.title"></a>
                    <a>
                        <p class="info" ng-bind="pl.bigTitle"></p>
                    </a>
                    <div class="newsOne-time"> <i class="date" ng-bind="pl.createDate | date:'yyyy-MM-dd HH:mm:ss'"></i> </div>
                </div>
                <div class="clear"></div>
            </li>
            <!--<li class="list-pt-li">
                <a class="list-pt-pic fl"><img src="images/1412599200830.jpg" border="0" width="181" height="136"></a>
                <div class="fr main">
                    <a class="tit">美国女摄影师记录面瘫患者的脸(图)</a>
                    <a>
                        <p class="info">Sage Sohie是一位美国的女摄影师，因为曾经在在波士顿的面部神经诊所待过，让她对面瘫患者有了很多认识。她的作品《脸》（About Face）拍摄了面临不同程度病情的面瘫患者。往常我们对于人脸的欣赏更多的是因其平衡和对称，但是Sohier给人们提供了一种新的视角去欣赏人脸的美。Sage Sohie是一位美国的女摄影师，因为曾经在在波士顿的面部神经诊所待过，让她对面瘫患者有了很多认识。她的作品《脸》</p>
                    </a>
                    <div class="newsOne-time">深圳新闻网 <i class="date">2017-06-22</i> 14:23</div>
                </div>
                <div class="clear"></div>
            </li>
            <li class="list-pt-li">
                <a class="list-pt-pic fl"><img src="images/1412599200830.jpg" border="0" width="181" height="136"></a>
                <div class="fr main">
                    <a class="tit">美国女摄影师记录面瘫患者的脸(图)</a>
                    <a>
                        <p class="info">Sage Sohie是一位美国的女摄影师，因为曾经在在波士顿的面部神经诊所待过，让她对面瘫患者有了很多认识。她的作品《脸》（About Face）拍摄了面临不同程度病情的面瘫患者。往常我们对于人脸的欣赏更多的是因其平衡和对称，但是Sohier给人们提供了一种新的视角去欣赏人脸的美。Sage Sohie是一位美国的女摄影师，因为曾经在在波士顿的面部神经诊所待过，让她对面瘫患者有了很多认识。她的作品《脸》</p>
                    </a>
                    <div class="newsOne-time">深圳新闻网 <i class="date">2017-06-22</i> 14:23</div>
                </div>
                <div class="clear"></div>
            </li>-->
        </ul>
        
    <div class="pageBox">
        <ul class="pageDiv clearfix">
        
        </ul>
        <div class="notContent hide">
            无数据
        </div>
        <div class="page">
            <ul class="pageMenu clearfix">
                <li class="firstPage" ng-click="nc.changePage('homePage')">首页</li>
                <li class="prevPage" ng-class="{active:objectPage.currentPage !=1}" ng-click="nc.changePage('prev')"> < 上一页 </li>
                <div class="pageObj ">
                    
                </div>
                <li class="nextPage" ng-class="{active: objectPage.currentPage != objectPage.totalPage}" ng-click="nc.changePage('next')"> 下一页 > </li>
                <li class="lastPage" ng-click="nc.changePage('endPage')">尾页</li>
                <li class="last" style="font-size: 14px;">
                    第<span class="totalPage" ng-bind="objectPage.currentPage"></span>页，跳转至 <input type="number" class="keuInput" value="1">
                    <button type="button" class="btnSure">确定</button>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>
</div>